<h1>tinyapp</h1>
<form method="GET" action="/urls/new"><button type="submit" class="btn btn-primary">create a new link</button></form>
<% if (user) { %> Welcome, <%= user.email %><br> <% } %>
<span class="btn-group" role="group" aria-label="account options">
  <% if (!user) { %>
    <form method="GET" action="/login">
      <button type="submit" class="btn btn-primary">login</button>
    </form>
  <% } else { %>
    <form method="POST" action="/logout">
      <button type="submit" class="btn btn-primary">logout</button>
    </form>
  <% } %>
  &nbsp; | &nbsp;
  <form method="GET" action="/register">
    <button type="submit" class="btn btn-primary">register</button>
  </form>
</span>
<br><br>