<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size: 15px; padding: 50px; text-align: center">
  <% include ./partials/_header %>

  <!-- Display error messages if there is an error specified by the query string. -->
  <% if (err) { %>
  <div class="alert alert-<% if (err === "wrong-password") { %>danger<% } else { %>warning<% } %>" role="alert">
  <h5><i class="fa fa-user-times"></i></h5>
  <% } %>
  <p>
  <% if (err === "wrong-password") { %>
    incorrect password, try again
  <% } %>
  <% if (err === "no-user") { %>
    that account doesn't exist
  <% } %>
  <% if (err === "existing-user") { %>
    an account with that email already exists
  <% } %>
  <% if (err === "invalid-params") { %>
    you must enter a valid email address and a password
  <% } %>
  <% if (err === "no-login") { %>
    you must login to access that page
  <% } %>
  </p>
  </div>
  <!-- This page renders both login and register pages. -->
  <h3><i class="fa fa-user-circle"></i> <%= action %></h3>
  <form class="form-inline" action="/<%= action %>" method="POST">

    <!-- Center everything! -->
    <div class="form-group mb-2" style="margin: 0 auto">
      <label for="email">email:</label>
      <input class="form-control" type="email" name="email" placeholder="email" style="width: 300px; margin: 1em">
      <label for="password">password:</label>
      <input class="form-control" type="password" name="password" placeholder="password" style="width: 300px;margin: 1em">
      <button type="submit" class="btn btn-outline-dark btn-sm"><%= action %></button>
    </div>
  </form>

</body>
</html>