<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size: 15px; padding: 50px; text-align: center">
  <% include ./partials/_header %>
  <h1>404: PAGE NOT FOUND</h1>
  <br><br>
  <p>normally i never raise my voice, but it feels good to let it out sometimes, y'know?</p>
</body>
</html>