<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size: 15px; padding: 50px; text-align: center">
  <% include ./partials/_header %>
  <% if (err === "not found") { %>
    <h1>404: PAGE NOT FOUND</h1>
    <br><br>
    <p>normally i never raise my voice, but it feels good to let it out sometimes, y'know?</p>
  <% } %>
  <% if (err === "wrong user") { %>
    <h5><i class="fa fa-ban"></i></h5>
    <p>you don't have permission to modify that link</p>
  <% } %>
</body>
</html>