<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size: 17px; padding: 50px; text-align: center">
  <% include ./partials/_header %>
  <h3><i class="fa fa-link"></i> create link</h3>
  <form class="form-inline" action="/urls" method="POST">
    <div class="form-group mb-2" style="margin: 0 auto">
      <label for="longURL">enter target url:</label>
      <input class="form-control" type="text" name="longURL" placeholder="enter full url" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-outline-primary btn-sm">submit</button>
    </div>
  </form>
</body>
</html>