<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <p><%= shortURL %> is for <%= longURL %></p>
  <form method="POST" action="/urls/<%= shortURL %>/delete"><button type="submit" class="btn btn-primary">Delete</button>
</body>
</html>