<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <ul>
    <% for (let url in urls) { %>
    <li><%= url %>: <%= urls[url] %></li>   <form method="POST" action="/urls/<%= url %>/delete"><button type="submit" class="btn btn-primary">Delete</button></form>
    <% } %>
  </ul>
</body>
</html>